<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    table {
        width: 100%;
        font-family: -webkit-pictograph;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    select {
        height: auto;
    }

    button {
        height: auto;
    }

    input, button, select {
        float: left;
        width: 15%;
        border-bottom-color: rgb(224, 224, 224);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(224, 224, 224);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(224, 224, 224);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(224, 224, 224);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        cursor: text;
        font-family: "Gilroy", sans-serif;
        font-size: 20px;
        height: auto;
        width: auto;
        outline: none;
        margin: 2px;
        padding: 10;
    }

    select {
        outline: none;
        height: auto;
        font-family: "Gilroy", sans-serif;
        font-size: 20px;
    }

    input:focus {
        transform: scale(1.04);
        box-shadow: rgba(70, 74, 85, 0.08) 0px 13px 22px 0px;
    }

    button {
        cursor: default;
        display: left;
        background: #66d9ff;
        color: white;
        width: auto;
    }

    #billno1, #billno2 {
        width: 10%;
    }

    a {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    #myInput {
        font-size: 18px;
        width: 25%;
    }
    #shop,a {
        float:none;
    }
    p{
        float:left;
        font-size:20px;
    }
</style>
<script>

    document.querySelectorAll('input').forEach(el => {
        el.addEventListener('keydown', e => {
            if (e.keyCode === 13) {
                let nextEl = el.nextElementSibling;
                console.log(nextEl)
                if (nextEl.nodeName === 'INPUT') {
                    nextEl.focus();
                }
            }
        })
    });
    document.querySelector("#discount").addEventListener('keydown', e => {
        if (e.keyCode === 13) {
            document.querySelector("#add").click();
        }
    });

    function generate() {
        var txt;
        if (confirm("Press a button!")) {
            console.log(1);
        } else {
            return 0;
        }

        var f = document.getElementById('shop').value;
        var e = document.getElementsByTagName('tr');
        y = [];
        var jsons = { 'name': f };
        for (var i = 1; i < e.length; i++) {
            jsons[e[i].childNodes[0].innerText] = JSON.stringify([parseInt(e[i].childNodes[1].childNodes[0].value),
            parseInt(e[i].childNodes[2].childNodes[0].value),
            parseFloat(e[i].childNodes[3].childNodes[0].value),
            parseFloat(e[i].childNodes[4].innerText)]);
        }
     
        function aja() {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(jsons),
                    dataType: 'json',
                    url: '/extragenerate',
                    success: function (data) {
                        resolve(data) // Resolve promise and go to then()
                    },
                    error: function (err) {
                        reject(err) // Reject the promise and go to catch()
                    }
                });
            });
        }

        aja().then(function (data) {
            // Run this when your request was successful
                   }).catch(function (err) {
            // Run this when promise was rejected via reject()
            console.log(window.open('/extradownload/'+err.responseText,'_blank'));
        })
    }

    function closeAll() {
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            a[i].style.display = "none";
        }
    }

    function afteradd() {
        var ele = ['case', 'piece', 'discount'];
        for (var i = 0; i < ele.length; i++) {
            document.getElementById(ele[i]).value = '';
        }
        document.getElementById('myInput').value = '';
    }

    var curr;
    function update() {
        curr = dicts[document.getElementById('myInput').value];
        document.getElementById('details').innerText = 'Units per Cases : ' + curr[2].toString() + '      ' + 'Mrp : Rs. ' + parseInt((curr[0] * curr[2])).toString() + '      '+'SP : Rs.' + parseInt((curr[0]*curr[2])).toString();
    }

    function disc(x) {
        var txt = document.getElementById('details').innerText;
        document.getElementById('details').innerText = txt.split('SP')[0] + 'SP : Rs.' + parseInt((curr[0] * curr[2] * (1 - (parseFloat(x) / 100))));
        
    }
    function changebill(x1) {
        //var y = document.querySelectorAll('[id="' + x.id + '"]');
        //console.log(x1.name);
        if (x1.name == 'case') {
            var x = x1;
            var cases = parseInt(x.className) * parseInt(x.value);
            var pieces = cases + parseInt(document.querySelectorAll('[id="' + x.id + '"][name="piece"]')[0].value);
            var price = parseInt(document.querySelectorAll('[id="' + x.id + '"][name="sp"]')[0].value) * pieces / parseInt(x.className);
            document.querySelectorAll('[id="' + x.id + '"][name="price"]')[0].innerText = price.toFixed(2).toString();
        }
        if (x1.name == 'piece') {
            var x = x1;
            var x = document.querySelectorAll('[id="' + x.id + '"][name="case"]')[0];
            var cases = parseInt(x.className) * parseInt(x.value);
            var pieces = cases + parseInt(document.querySelectorAll('[id="' + x.id + '"][name="piece"]')[0].value);
            var price = parseInt(document.querySelectorAll('[id="' + x.id + '"][name="sp"]')[0].value) * pieces / parseInt(x.className);
            document.querySelectorAll('[id="' + x.id + '"][name="price"]')[0].innerText = price.toFixed(2).toString();
        }
        if (x1.name == 'sp') {
            var x = x1;

            var x = document.querySelectorAll('[id="' + x.id + '"][name="case"]')[0];
            var cases = parseInt(x.className) * parseInt(x.value);
            var pieces = cases + parseInt(document.querySelectorAll('[id="' + x.id + '"][name="piece"]')[0].value);
            var price = parseInt(document.querySelectorAll('[id="' + x.id + '"][name="sp"]')[0].value) * pieces / parseInt(x.className) ;
            document.querySelectorAll('[id="' + x.id + '"][name="price"]')[0].innerText = price.toFixed(2).toString();
        }

    }
    function add() {
    if (document.getElementById('piece').value == '') {
        document.getElementById('piece').value = 0;
    }
    if (document.getElementById('discount').value == '') {
        document.getElementById('discount').value = 0;
    }
        var curr = dicts[document.getElementById('myInput').value];
        var prod = document.getElementById('myInput').value;
        var pieces = (curr[2] * document.getElementById('case').value) + parseInt(document.getElementById('piece').value);
        var price = pieces * (curr[0] * (1 - (parseFloat(document.getElementById('discount').value) / 100)));
        var table = document.getElementsByName('table')[0];
        tr = document.createElement('tr');
        tr.id = prod;
        td1 = document.createElement('td');
        td1.innerText = document.getElementById('myInput').value;

        td2 = document.createElement('td');
        inputs = document.createElement('input');
        inputs.value = parseInt(document.getElementById('case').value);
        inputs.id = prod;
        inputs.setAttribute('class', curr[2]);
        inputs.setAttribute('onkeyup', 'changebill(this)');
        inputs.setAttribute('name', 'case');
        td2.appendChild(inputs);

        td4 = document.createElement('td');

        inputs = document.createElement('input');
        inputs.id = prod;
        inputs.setAttribute('onkeyup', 'changebill(this)');
        inputs.value = document.getElementById('piece').value;
        inputs.setAttribute('name', 'piece');
        td4.appendChild(inputs);

        td5 = document.createElement('td');

        inputs = document.createElement('input');
        inputs.id = prod;
        inputs.setAttribute('onkeyup', 'changebill(this)')
        inputs.value = parseInt(curr[0] * (1 - (parseFloat(document.getElementById('discount').value) / 100)) * curr[2]);
        inputs.setAttribute('name', 'sp');
        td5.appendChild(inputs);

        td6 = document.createElement('td');
        td6.id = prod;
        td6.setAttribute('name', 'price');
        td6.innerText = price.toFixed(2).toString()


        td3 = document.createElement('button');
        td3.setAttribute('type', 'button');
        td3.innerText = 'Delete';
        td3.id = prod;
        td3.setAttribute('onclick', 'document.getElementById(this.id).remove();');
        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td4);
        tr.appendChild(td5);
        tr.appendChild(td6);
        tr.appendChild(td3);

        document.querySelector("body > table").insertBefore(tr, document.querySelector("body > table").childNodes[2]);

        console.log(curr, pieces, price);
        afteradd();
    }

</script>
<body onload='window.dicts = {{dicts}} ;'>
    <input type="text" id="shop" placeholder="Party name" /> 
    <a onclick="window.open('/extrabills/report/all', '_blank');">Report's</a> 
    <div>
        <datalist id="suggestions">
            {%for i in dicts%}
            <option id="{{i}}" onclick="update();">{{i}}</option>
            {%endfor%}
        </datalist>
        <input autoComplete="on" list="suggestions" id="myInput" onchange="update();"/>
    
    <input type="number" id="case" placeholder="Case" />
    <input type="number" id="piece" placeholder="Piece"/>
    <input type="text" id="discount" onchange="disc(this.value)" placeholder="Discount"/>

    <button type="button" id="add" onclick="add();">ADD</button>
    <button type="button" onclick="generate();">GENERATE</button>
        </div>
<br />

    <p id="details"></p><br />
    <table name='table'>
        <tr>
            <th>Product name</th>
            <th> Case </th>
            <th> Piece</th>
            <th> Case Price  </th>
            <th> Piece </th>
            <th>Delete</th>
        </tr>
    </table>
    <button type='button' onclick=deletes()>Delete All entries</button>

</body>