<style>
table{
	width: 100%; 
    font-family: -webkit-pictograph; 
}
th,td {
	border-bottom: 1px solid #ddd;
	text-align: left;
}
.details {
	display:flex;
    height:10%;
}
select {
  height: auto;
}
button {
 height:auto;
}
input,button{
float :left;
  width:15%;
  border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: text;
font-family: "Gilroy", sans-serif;
font-size: 20px;
height: auto;
width: auto;
outline:none;
margin: 1;
padding: 10;
}
select {
	outline:none;
	height:auto;
	margin-right:2px;
	
}
input:focus{
    transform:scale(1.04);
    box-shadow: rgba(70, 74, 85, 0.08) 0px 13px 22px 0px;
}
button {
	cursor:default;
	display:left;
  background: #66d9ff;
    color: white;
    width: auto;
    
}
</style>
<form action='/gst/correction' method='POST' >
<div class='details'>
<select name='mode' id='mode' >
	<option value='Online' selected>Online</option>
	<option value='Offline'>Offline</option>
</select>
  <button type='submit' text='Validate and fix errrors'> Validate and fix errrors</input>
</div>

<br>
<table id='table' >
	<tr>
		<th>Error Type</th>
		<th>Wrong Value</th>
		<th>Corrected Value</th>
		<th>Details**</th>
	</tr>
	{% for i in s %}
	 <tr> 
	 	<td >{{i[0]}}</td>
	 	<td >{{i[1]}}</td>
	 	<td><input name='{{i[4]}}' id='{{i[4]}}'></input></td>
	 	<td >{{i[3]}}<td>
	 </tr>
	 {%endfor%}
	
	</form>