<style>
.tabandbut {
	display :flex;
}
.conatinsdetails {
	width :40%;
}
.allbuttons{
	width:50%;
}

.buttons{
float :left;
  width:15%;
  border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(0, 0, 0);

font-family: "Gilroy", sans-serif;
font-size: 20px;
height: auto;
width: auto;
outline:none;
margin: 1;
padding: 10;
}
.buttons:hover{
    transform: scale(1.04);
    box-shadow: rgba(70, 74, 85, 0.08) 0px 13px 22px 0px;
}
.buttons {
	display:left;
  background: #66d9ff;
    color: white;
    width: auto;
    margin: 5px;

}

table{
	margin-top:2%;
	width: 80%;
	border:1px solid black; 
    font-family: -webkit-pictograph; 
}
th,td {
	border-bottom: 1px solid #ddd;
	text-align: left;
}
.month ,.error{
	font-size : 20  ;
	display:flex;
}


</style>
<form id='form' method='post'>

<div class='tabandbut'>
<div class='conatinsdetails'>
<label value='{{month}}' name='month' class='month' style='color: #1ab2ff;' > Month : {{month}} / {{year}}</label>
{%if alreadyerr %}
 <label class='error' style='color:red; margin-top:1% ;'> Error Status : <label style='color:green'>There are errors </label> </label>
 {%else%}
  <label class='error' style='color:red; margin-top:1%;'> Error Status :<label style='color:green'>They have no Errors </label></label>
{%endif%}
</div>
<div class='allbuttons'>
{%if alreadyerr %}
  <button onclick="document.getElementById('form').action='/gst/errsuccess' ; document.getElementById('form').submit(); " class='buttons'>Fix errors</button>
{%endif%}
{%if pathjson%}
<button  class='buttons' id='json' onclick="document.getElementById('form').action='/gst/download' ;document.getElementById('form').method='GET'; document.getElementById('form').submit();">Download JSON</button>
{%endif%}
<button  class='buttons' onclick="let conf=window.prompt('Type DELETE');  if (conf=='DELETE') {document.getElementById('form').action='/gst/dels/{{month}}/{{year}}' ;  document.getElementById('form').submit();}" >Delete</button>
<button  class='buttons' onclick="document.getElementById('form').action='/gst' ; document.getElementById('form').submit(); ">Main Menu</button>

 </div>
</div>


<div>
 <table>
 <tr>
 	<th>Type</th>
 	<th> Total Value </th>
 	<th>Taxable</th>
 	<th>Tax Amount</th>
 </tr>
 {%for i in short%}
  <tr>
  {%for j in i%}
    <td> {{j}}</td>
   {%endfor%}
  </tr>
  {%endfor%}
</table>
<div>

</div>

</form>
