<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Outstanding</title>
    <script>
        function submit() {
            var x = document.getElementById('date').value;
            if (x == '') {
                var d = new Date();
                x = d.getFullYear() + "-" + (parseInt(d.getMonth()) + 1).toString() + "-" + d.getDate();
            }
            window.location.href = '/outstanding//' + x + "//" + parseInt(Math.random()*100);
        }
    </script>
</head>
<body>
    <input type="date" id="date" />
    <button onclick="submit()">Generate</button>
</body>
</html>