<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<script>
    function enable() {
        arr = document.getElementsByTagName('input');
        for (var i = 0, len = arr.length; i < len; i++) {
            arr[i].disabled = false;
        }
        document.getElementById('save').display = 'visible';
        
    }
</script>
<body>
    <form action="/usersave" method="post">
        {%for i in userdata.keys()%}
        <div>
            <label> {{i}}</label>
            <input type='text' name={{i}} disabled value={{userdata[i]}} />
        </div>
        {%endfor%}
        {%for i in gstdata.keys()%}
        <div>
            <label> {{i}}</label>
            <input type='text' name={{i}} disabled value={{gstdata[i]}} />
        </div>
        {%endfor%}
        <button type='button' onclick="enable();">Edit</button>
        <button type="button" onclick="window.href='/home'">Main Menu</button>
        <button display='None'>Save</button>
    </form>
</body>
</html>
